<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>react-devcards</title>
  {{ CSS_INCLUDES }}
  {{ JS_INCLUDES }}
</head>
<body>
  <div id="app"></div>
  <script src="/assets/bundle.js"></script>
</body>
</html>
